@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Homizio-Medium';
  src: url('fonts/Homizio-Medium.eot') format('embedded-opentype'), url('fonts/Homizio-Medium.ttf') format('woff'), url('fonts/Homizio-Medium.ttf')  format('truetype'), url('fonts/Homizio-Medium.svg#Homizio-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mainHeader {
	height:172px;
	margin-bottom:1px;
	background-size:cover;
	background-image:url(images/new.png);
}
.logo {
	float: left;
	height: 116px;
	width: 159px;
	margin-top:15px;
	margin-left:15px;
}
.header2 {

    background: rgba(0, 0, 0, 0) url("images/header2.png") no-repeat scroll center center / cover ;
    height: 107px;
    margin-bottom: 1px;
    padding: 35px 0;
	text-align:center;
}

.header2Label {
	color:#FFFFFF;
	font-size:30px;
	
	padding-top:0px;
}
.labelClass {
	height:90px;
	background-color:#6CF;
	text-align:center;

}
.labelValue {
	color:#FFFFFF;
	font-size:25px;
	text-align:center;
	padding-top:20px;
}
.footer {
 background: rgba(0, 0, 0, 0) url("images/footer1.png") no-repeat scroll center center / cover ;
 height: 100px;
	margin-top:200px;

}
.footerLabel {
	  color: #ffffff;
    font-size: 25px;
    margin-left: 36px;
    padding-top: 34px;
    text-align: left;
}
.footerImage{
	
	   padding-top: 34px;
	}
.row.border {
    border-bottom: 1px solid #fff;
}
